* {
    font-family: var(--font-family);
  }
  
  :root {
    --white: hsl(0, 0%, 100%);
    --main-bg: hsl(215, 27%, 12%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(228, 11%, 9%);
    --very-dark-blue: hsl(213, 20%, 18%);
    --orange: hsl(25, 97%, 53%);
    --fs-p2: 2rem;
    --fs-p1: 1.1rem;
    --fs-p0: 1rem;
    --font-family: "Overpass", sans-serif;
    --text400: 400;
    --text700: 700;
  }
  
  .cardWrapper {
    background-color: var(--main-bg);
    height: 415px;
    width: 405px;
    border-radius: 25px;
    padding: var(--fs-p2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--fs-p0);
    box-shadow: 0 0.063rem 0.188rem rgb(31 50 81 / 12%),
    0 0.063rem 0.125rem rgb(31 50 81 / 24%);
    position: relative;

  }
  
  .greetingThankYou {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--fs-p0);
    margin-top: 0;
  }
  
  .ratingWrapper{
    background-color: var(--very-dark-blue);
    width: 185px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange);
    font-size: 15px;
    margin-bottom: var(--fs-p1);
  }

  
  
  .titleWrapper > h2 {
    font-weight: var(--text700);
    color: var(--white);
    transform: scaleY(1.1);
    font-size:26px ;
  }
  
  .descriptionWrapper > p {
    color: #959eac;
    font-weight: var(--text400);
    line-height: 1.4;
    font-family: var(--font-family);
    font-size: 15px;
    text-align: center;
  }
  
  .return{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--fs-p2) 0 0 var(--fs-p2);
    background-color: var(--very-dark-blue);
  }



  .return .iconReturn svg:hover {
    height: 30px;
    width: 30px;
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
   .iconReturn >svg{
    height: 20px;
    width: 20px;
    margin-top: 0.4rem;
   } 

   .iconReturn {
    border: none;
    background-color:transparent;
    color: var(--orange);
    cursor: pointer;
   }
 
  .submitButtom {
    background-color: hsl(25, 97%, 53%);
    width: 340px;
    height: 45px;
    border-radius: 30px;
    border: none;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--text700);
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 10px;
  }
  .submitButtom:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    transition: all 0.3s ease-in-out;
  }
  
  .ratingAppear {
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  