* {
  font-family: var(--font-family);
}

:root {
  --white: hsl(0, 0%, 100%);
  --main-bg: hsl(215, 27%, 12%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(228, 11%, 9%);
  --very-dark-blue: hsl(213, 20%, 18%);
  --orange: hsl(25, 97%, 53%);
  --fs-p2: 2rem;
  --fs-p1: 1.2rem;
  --fs-p0: 1rem;
  --fs-p00: 1.5rem;
  --font-family: "Overpass", sans-serif;
  --text400: 400;
  --text700: 700;
}

.cardWrapper {
  background: radial-gradient(
    farthest-side at top center,
    hsl(215deg, 17%, 15%),
    var(--main-bg)
  );
  height: 415px;
  width: 405px;
  border-radius: 25px;
  padding: var(--fs-p00);
  display: flex;
  flex-direction: column;
  gap: var(--fs-p1);
  box-shadow: 0 0.063rem 0.188rem rgb(31 50 81 / 12%),
    0 0.063rem 0.125rem rgb(31 50 81 / 24%);
}

@media screen and (max-width: 767px) {
  .cardWrapper {
    height: auto;
    width: auto;
    border-radius: 25px;
    padding: var(--fs-p1);
    margin: var(--fs-p1);
  }
  .imgWrappaer{
    height: 20px;
  }
  .img {
    height: 35px;
    width: 35px;
    margin-bottom: 0.5rem;
  }

  .titleWrapper > h2 {
    font-size: 22px;
  }

  .descriptionWrapper > p {
    font-size: 14px;
  }

  .submitButtom {
    width: 100% !important;
  }

  .att {
    margin-bottom: 4rem;
    bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  .cardWrapper {
    height: auto;
    width: 350px;
    border-radius: 25px;
    padding: var(--fs-p1);
    margin: var(--fs-p1);
  }

  .img {
    height: 30px;
    width: 30px;
  }

  .titleWrapper > h2 {
    font-size: 20px;
  }

  .descriptionWrapper > p {
    font-size: 13px;
  }

  .submitButtom {
    height: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .cardWrapper {
    padding: var(--fs-p0);

  }
  .img {
    height: 25px;
    width: 25px;
  }

  .titleWrapper > h2 {
    font-size: 18px;
  }

  .descriptionWrapper > p {
    font-size: 12px;
  }

  .submitButtom {
    font-size: 13px;
  }
}

@media screen and (max-width: 280px) {
  .cardWrapper {
    height: auto;
    width: 275px;
    border-radius: 25px;
    padding-left: var(--fs-p2);
  }

  .submitButtom {
    width: 245px !important;
  }
  .cardWrapper {
    padding: var(--fs-p0);
  }

  .img {
    height: 25px;
    width: 25px;
  }
}

.img {
  padding: var(--fs-p0);
  background-color: var(--very-dark-blue);
  border-radius: 50%;
  margin-bottom: 0.7rem;
  display: grid;
  height: 50px;
  width: 50px;
  place-items: center;
}

.buttonsGroup > button  {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.buttonsGroup > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleWrapper > h2 {
  font-weight: var(--text700);
  color: var(--white);
  transform: scaleY(1.1);
  margin-bottom: 0;
}
.descriptionWrapper {
  margin-top: 0;
}

.descriptionWrapper > p {
  color: #959eac;
  font-weight: var(--text400);
  line-height: 1.4;
  font-family: var(--font-family);
  font-size: 15px;
  
}

.btn {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: var(--very-dark-blue);
  color: var(--light-grey);
  font-weight: var(--text400);
  text-decoration: none;
  margin-top: var(--fs-p0);
}

.btn:hover {
  background-color: var(--orange);
  transition: all 0.3s ease-in-out;
  color: var(--white);
}

.btn:focus {
  background-color: var(--light-grey);
  color: var(--white);
}

.buttonsGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.submitButtom {
  margin-top: var(--fs-p0);
  background-color: var(--orange);
  width: 340px;
  height: 45px;
  border-radius: 30px;
  border: none;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: var(--text700);
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 10px;
}

.submitButtom:hover {
  background-color: hsl(0, 0%, 100%);
  color: var(--orange);
  transition: all 0.3s ease-in-out;
}

.submitButtom:disabled {
  opacity: 0.5;
  cursor: default;
}

.att {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
  width: 405px;
  height: 20px;
  position: absolute;
  bottom: 0;
  margin-bottom: var(--fs-p0);
  font-size: 13px;
  font-family: initial;
}

a {
  color: var(--light-grey);
}

a:hover {
  color: var(--orange);
}
