:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(228, 11%, 9%);
  --very-dark-blue: hsl(213, 20%, 18%);
  --orange: hsl(25, 97%, 53%);
  --fs-p2: 2rem;
  --fs-p1: 1.6rem;
  --font-family: "Overpass", sans-serif;
  --text400: 400;
  --text700: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');
